<!DOCTYPE html>
    <html>
    <head>
    <style>
    .Tipo{
        font-weight: bold;
        font-family: inherit;
        color: #2c3e50;
    }
    table,td{
        border: 1px solid #000;
    }
    table{
        width: 100%;
    }
    .testo{
        text-align: center;
    }
    .immagine{
        width:190px;
        height:120px;
    }
    .num{
        font-size: 1.5rem;
    }

    </style>
    </head>
    <body>
     <table>
        <tr>
          <td>
            <img src="http://127.0.0.1:5000/static/img/home/bodybuilder.png" style="width: 100px; height:100px; margin-left:10rem">
            <br><label class="Tipo" style="margin-left:11rem;"> TECFIT</label></td>
          <td><label class="Tipo">Name</label>: GIUSEPPE
          <label class="Tipo"> Surname</label>: FRANZESE
          <br><label class="Tipo">Age</label>: 21
          <br><label class="Tipo">Weight</label>: 60
            <label class="Tipo"> Gender</label>: MASCHIO
        </tr>
        <tr>
          <td class="Tipo testo"> EXERCISE </td>
          <td class="Tipo testo" style="text-align: center"> N. REP</td>
        </tr>
        <tr>
          <td class="Tipo testo">Chest Crosses
          <br><img class="immagine" src="http://127.0.0.1:5000/static/img/esecuzione/Chest-crosses.jpg">
          </td>
          <td class="testo num">3x8</td>
        </tr>
        <tr>
          <td class="Tipo testo">Bench-Press
          <br><img class="immagine" src="http://127.0.0.1:5000/static/img/esecuzione/Bench-Press.jpg">
          </td>
          <td class="testo num">3x10</td>
        </tr>
        <tr>
          <td class="Tipo testo">Military Press
          <br><img class="immagine" src="http://127.0.0.1:5000/static/img/esecuzione/militarypress.jpg">
          </td>
          <td class="testo num">3x6</td>
        </tr>
        <tr>
          <td class="Tipo testo">Leg Extension
          <br><img class="immagine" src="http://127.0.0.1:5000/static/img/esecuzione/legextension.jpg">
          </td>
          <td class="testo num">4x8</td>
        </tr>
        <tr>
          <td class="Tipo testo">Squat
          <br><img class="immagine" src="http://127.0.0.1:5000/static/img/esecuzione/Squat.jpg">
          </td>
          <td class="testo num">3x10</td>
        </tr>
        <tr>
          <td class="Tipo testo">Row
          <br><img class="immagine" src="http://127.0.0.1:5000/static/img/esecuzione/Row.jpg">
          </td>
          <td class="testo num">3x8</td>
        </tr>
        <tr>
          <td class="Tipo testo">Dips
          <br><img class="immagine" src="http://127.0.0.1:5000/static/img/esecuzione/dips.jpg">
          </td>
          <td class="testo num">3x8</td>
        </tr>
      </table>
    </body>
    </html>